body{
   background-color: rgba(152, 222, 230, 0.529);
    
}
.highlight{
    color:rgba(209, 28, 82, 0.378);
}
.child{
    float: left;
    width: 43%;
    padding-left: 5%;
    margin-left: 2%;
}
.pic{
    height: 500px;
    width: 500px;
    border-radius: 50px;
}
.child p{
    text-align: justify;
}
.button{
    text-decoration: none;
    font-size: 15px;
    font-weight: 800;
    padding: 10px 10px;
    background-color: tomato;
    border-radius: 5px;
}
